body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.box {
    background-color: rgb(5, 1, 17);
    color: rgb(21, 197, 147);
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
}
